name: Manual Android APK Build

on:
  workflow_dispatch:
    inputs:
      build-profile:
        description: 'EAS Build Profile'
        required: true
        default: 'preview'
        type: choice
        options:
          - preview
          - testing
          - main

jobs:
  build:
    name: EAS Build APK
    runs-on: ubuntu-latest
    steps:
      - name: Check for EXPO_TOKEN
        run: |
          if [ -z "${{ secrets.EXPO_TOKEN }}" ]; then
            echo "You must provide an EXPO_TOKEN secret linked to your Expo account"
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup EAS
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: bun install

      - name: Build Android APK
        run: eas build -p android --profile ${{ inputs.build-profile }} --non-interactive
