name: Format check

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: format-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format:
    name: Run formatting check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Bun and install dependencies
        uses: ./.github/actions/setup-bun-install

      - name: Check formatting
        run: bun run format:check
